.dropdown__toggle {

  display: flex;
  padding: 1rem;
  border-bottom: 1px solid $light-med-gray;

  h5 {
    margin: 0 0 .25rem 0;
  }

  p {
    margin: 0;
    font-size: .7rem;
  }

  &:last-of-type {
    border-bottom: 0;
  }

}

.dropdown__toggle--section {
  flex-grow: 1;
}

.dropdown__toggle--button {

  flex-grow: 0;
  text-align: right;

  a {
    display: inline-block;
    width: 4em;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 0 0 .5em;
    border-radius:.2rem;
    background:$light-gray;

    &[data-value="true"] {
      color: white;
      background-color: $primary-blue-dark;
    }

    &:hover {
      color: white;
      background-color: $primary-blue;
    }

  }

  span {
    font-size: .9em;
  }

}