.stats {
  strong {
    white-space: nowrap;
    color: #7f8fa6;
  }
}

.stats__modal {
  
  padding-left: .5em;
  
  li {
    list-style: none;
    padding: .5em 0;
  }
  
  @media #{$screen-s} {
    padding-left: 1.8em;
  }
  
}

.terminology-descriptions {
  padding-left: 1em;
  width: 100%;
  
  @media #{$screen-s} {
    width: 85%;
  }
  
  @media #{$screen-l} {
    width: 65%;
  }
  
  .terminology-descriptions__terms {
    font-weight: bold
  }
}

.terminology-modal__label {
  padding-left: .5em;
  display: inline;
  width: 50%;
  cursor: pointer;
}
