$screen-xxs: "(min-width: 320px)";
$screen-xs: "(min-width: 481px)";
$screen-s: "(min-width:641px)";
$screen-m: "(min-width: 961px)";
$screen-l: "(min-width: 1025px)";
$screen-xl: "(min-width: 1281px)";
$screen-hippi: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
