.autocomplete__list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: -0.5rem 0 0 0;
  padding: 0;
  list-style: none;
  background: #fff;
  text-align: left;
  z-index: -1;
  max-height: 20rem;
  overflow-y: scroll;
  border: 1px solid $light-gray;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1);
}

.autocomplete__item {
  border-top: 1px solid $light-gray;
}

.autocomplete__item:first-child .autocomplete__button {
  padding-top: 1.25rem;
}

.autocomplete__button {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  outline: none;
  background: transparent;
  color: rgba(0, 0, 0, .4);
  text-align: left;

  em {
    margin-right: 0.0625rem;
    font-weight: 700;
  }
}

.autocomplete__button:hover {
  background: $light-gray;
}
