.dropdown {
  position: relative;

  .button__dropdown {
    text-align: center;
  }

  &[data-has-active-items="true"] {
    .button__dropdown {
      font-weight: bold;
      color: white;
      width: 100%;
      background-color: $secondary-blue;
      white-space: initial;
      display: flex;
      justify-content: center;
      flex-direction: column;
      vertical-align: middle;
      padding: 0, 1.5em, 0, 1.5em;
      
      @media (max-width: 960px) and (min-width: 653px) {
        padding: 1.5em, 0, 1.5em, 0;
        display: inline-block;
        width: 100%;
      }

      @media (max-width: 653px) {
        padding-left: 30%;
        padding-right: 30%;
      }

      @media (max-width: 450px) {
        padding-left: 20%;
        padding-right: 20%;
      }
 

        .fa {
      
          position: absolute;
          margin-left: 6.25em;

          @media (max-width: 960px) and (min-width: 653px) {
            margin-left: .5em;
            position: relative;
          }
      
          @media (max-width: 653px) {
            margin-left: 50%
          }

          @media (max-width: 450px) {
            margin-left: 60%;
          }
        }
    }
  }
}

.dropdown__content {
  display: none;
  position: absolute;
  width: 100%;
  top: 3.55rem;
  background-color: #fff;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: .2rem;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;

  &.active{
    display:block;
  }

  a {
    color: $dark-gray;
    padding: .3rem 1rem;
    border-bottom: 1px solid $light-gray;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;

    &:last-of-type {
      border-bottom: 0;
    }

    &:hover {
      background: $light-gray;
      cursor: pointer;
    }
    
    @media #{$screen-xl} {
      padding: .5rem 1rem;
    }
  }
}
