.search-results {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.search-results--has-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-results__header {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  font-size: 0.825rem;
  color: $dark-gray;
  background: #fff;
  border-bottom: 1px solid #D8D8D8;
}

.search-results__breadcrumbs {
  margin: 0 0 0 0.5rem;
  align-self: center;

  li {
    display: inline;

    &.crumb-tail {
      margin-left: 1rem;
    }
  }
}

.search-results__breadcrumbs-home {
  text-decoration: none;

  &:after {
    content: "/";
    margin-left: .5em;
    margin-right: .5em;
    color: #D8D8D8;
  }

  li {
    color: #588bce;
  }
}

.search-results__number {
  margin-right: .75rem;
  display: none;

  @media #{$screen-m} {
    display: inline-block;
  }
}

.search-results__results {
  @media #{$screen-m} {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 2.6rem;
    overflow-y: scroll;
  }
}

.search-results__sort {
  display: inline-block;
  position: relative;
}

.search-result__fit-filter {
  position: relative;
}
