$light-gray: #F4F5FA;
$light-med-gray: #DCDDE1;
$med-gray: #858C97;
$dark-med-gray: #6D7B90;
$dark-gray: #5D6877;
$darkest-gray: #3D4352;

$primary-blue: #0068B3;
$primary-blue-dark: #005897;
$secondary-blue: #00BCE4;

$obp-light-blue: #75b3e1;
$muted-blue: #5A708D;

$white: #FFFFFF;
$black: #000000;
