$light-gray:#F4F5FA;
$light-med-gray:#DCDDE1;
$med-gray: #858c97;
$dark-med-gray: #6D7B90;
$dark-gray: #718092;
$darkest-gray: #3D4352;

$primary-blue: #0068B3;
$primary-blue-dark:#005897;
$muted-blue: #5a708d;
$secondary-blue:#00BCE4;