$light-gray:#F4F5FA;
$light-med-gray:#DCDDE1;
$med-gray: #a4acb7;
$dark-med-gray: #6D7B90;
$dark-gray: #718092;
$darkest-gray: #3D4352;

$primary-blue: #0068B3;
$primary-blue-dark:#005897;

$secondary-blue:#00BCE4;